<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Giphy Gifs</title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script> -->
    <!-- <script src="/scripts/client.js"></script>
    <script src="/scripts/giphyService.js" charset="utf-8" ></script> -->
    <script src="vendors/angular.min.js"></script>
    <script src="/scripts/client.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/views/mystyle.css">
  </head>
  <body ng-app="giphyApp">
    <main ng-controller="favoritesController as favCtrl">
      <h1>FAVORITES!</h1>

      <p>
        You Have {{favCtrl.numberOf}} favorite GIFS
      </p>
      <table name="FavoriteGifsTable">
        <thead>
          <th>
            URL
          </th>
          <th>
            Comment
          </th>
        </thead>
        <tbody>
          <tr ng-repeat="gif in favCtrl.faveList">
            <td>
              <a href="{{gif.url}}" target="_blank">Gif</a>
            </td>
            <td>
              {{gif.commentfield}}
            </td>
          </tr>
        </tbody>
      </table>

      <!-- <form name="searchForm">
        <input type="text" ng-model="giphyCtrl.searchTerm" placeholder="search term" ng-focus="highlightSearch=true" ng-blur="highlightSearch=false" required/>
        <button ng-disabled="searchForm.$invalid" ng-click="giphyCtrl.searchGIF(giphyCtrl.searchTerm)" ng-class="{'highlightBad':highlightSearch==true && searchForm.$invalid,'highlightGood':highlightSearch==true && searchForm.$valid, 'normal':highlightSearch==false}">Search!</button>
      </form>
      <p class="invalid" ng-show="searchForm.$invalid && highlightSearch==true">
        Fill in the search box Dummy!
      </p>
      <img ng-show="giphyCtrl.imageURL" ng-src="{{giphyCtrl.imageURL}}" alt="A Random Gif">
      <p ng-show="giphyCtrl.imageURL">
        GIF ID: {{giphyCtrl.imageName}}
        <form name="favForm">
          <input type="text" ng-model="giphyCtrl.comment" placeholder="comment" ng-focus="highlightComment=true" ng-blur="highlightComment=false" required/>
          <button ng-disabled="favForm.$invalid" ng-click="giphyCtrl.favGIF(giphyCtrl.comment, giphyCtrl.imageURL)" ng-class="{'highlightBad':highlightComment==true && favForm.$invalid,'highlightGood':highlightComment==true && favForm.$valid, 'normal':highlightComment==false}">Favorite!</button>
        </form>
      </p> -->

      <a href="/">Home!</a>
    </main>
  </body>
</html>
