body {
  text-align: center;
  background-color: grey;
}

.highlightBad {
  background-color: darkred;
}

.highlightGood {
  background-color: green;
}

.normal {
  background-color: white;
}

.invalid {
  color: darkred;
}

table, td, th{
  text-align: center;
  margin: 0px auto;
  border: 2px solid black;
}
